/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.mat-card
{
    max-width: 600px;
    background-image: url(./images/test.jpg);
    background-size: cover;
    margin: 25px;
    font-family: Georgia, Helvetica, sans-serif;
    font-weight: 900;
    font-style: oblique;
    align-self: auto;
    margin-left: 25%;
    margin-right: 25%;
}
.mat-raised-button
{
    background: rgb(173, 201, 50);
    margin: 25px;
    margin-left: 25%;
    margin-right: 25%;
}
.mat-toolbar
{
    background-image: url(./images/backround.jpg); 
}



 