.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 11 auto;
}
.container
{
  background-image: url(.././images/back.jpg);
 
}
.mat-toolbar
{
  background-image: url(.././images/back.jpg); 

}
